<script src="../../../../global_assets/js/plugins/visualization/d3/d3.min.js"></script>
<script src="../../../../global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
<script src="../../../../global_assets/js/demo_pages/dashboard_boxed.js"></script>

<div class="row">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline" style="width: 100%;">
        <div class="d-flex" style="width: 100%;">
            <div class="breadcrumb" style="border: 0;">
                <a href="/profile" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
                <span class="breadcrumb-item active">Mi perfil</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<div class="row center pt-2 m-0">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body bg-indigo-400 text-center card-img-top" style="
                      background-image: url(../../../../global_assets/images/backgrounds/panel_bg.png);
                      background-size: contain;
                    ">
                <div class="card-img-actions d-inline-block mb-3">
                    <img src="assets/images/person.svg" width="170" height="170" alt="">
                    {{!-- <img class="img-fluid rounded-circle"
                        src="../../../../global_assets/images/placeholders/placeholder.jpg" width="170" height="170"
                        alt="" /> --}}
                    <div class="card-img-actions-overlay rounded-circle">
                        <a href="#"
                           class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-plus3"></i>
                        </a>
                        <a href="user_pages_profile.html"
                           class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <h6 class="font-weight-semibold mb-0">{{data.postulant.name}} {{data.postulant.last_name_1}} {{data.postulant.last_name_2}}</h6>
                <span class="d-block opacity-75">Postulante</span>

                <div class="list-icons list-icons-extended mt-3">
                    <a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body"
                       data-original-title="Google Drive"><i class="icon-google-drive"></i></a>
                    <a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body"
                       data-original-title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body"
                       data-original-title="Github"><i class="icon-github"></i></a>
                </div>
            </div>

            <div class="card-body p-0">
                <ul class="nav nav-sidebar mb-2">
                    <li class="nav-item-header">Navigation</li>
                    <li class="nav-item">
                        <a href="#profile" class="nav-link active" data-toggle="tab">
                            <i class="icon-user"></i>
                            Mi perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#inbox" class="nav-link" data-toggle="tab">
                            <i class="icon-envelop2"></i>
                            Inbox
                            <span class="badge bg-danger badge-pill ml-auto">29</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#inbox" onclick="validScore()" class="nav-link" data-toggle="tab">
                            <i class="icon-stars"></i>
                            Puntaje
                            <span class="badge bg-success badge-pill ml-auto">{{data.postulant.score}}</span>
                        </a>
                        <form action="/process" method="post" hidden>
                            <input type="text" name="id" value="{{data.id}}">
                            <button id="submit-button" type="submit"></button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a href="#orders" class="nav-link" data-toggle="tab">
                            <i class="icon-cart2"></i>
                            Solicitudes
                            <span class="badge bg-success badge-pill ml-auto">16</span>
                        </a>
                    </li>
                    <li class="nav-item-divider"></li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <a href="javascript:;" onclick="parentNode.submit();" class="nav-link" data-toggle="tab">
                                <i class="icon-switch2"></i>
                                Cerrar sesión
                            </a>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-left-3 border-left-danger rounded-left-0">
            <div class="card-body">
                <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                    <div>
                        <h6 class="font-weight-semibold">
                            DATOS PERSONALES
                        </h6>
                        <ul class="list list-unstyled mb-0">
                            <li>DNI</li>
                            <li>Apellido Paterno</li>
                            <li>Apellido Materno</li>
                            <li>Nombres</li>
                            <li>Correo personal</li>
                        </ul>
                    </div>

                    <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                        <h4 class="font-weight-semibold" style="color: transparent;">
                            _
                        </h4>
                        <ul class="list list-unstyled mb-0">
                            <li>{{data.postulant.dni}}</li>
                            <li>{{data.postulant.name}}</li>
                            <li>{{data.postulant.last_name_1}}</li>
                            <li>{{data.postulant.last_name_2}}</li>
                            <li>{{data.postulant.email}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                <span>
                    <span class="badge badge-mark border-danger mr-2"></span>
                    Fecha: <span class="font-weight-semibold">{{data.date}}</span>
                </span>

                <ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-default"><i class="icon-eye8"></i></a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-menu7"></i></a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-printer"></i> Print invoice</a>
                            <a href="#" class="dropdown-item"><i class="icon-file-download"></i> Download
                                invoice</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit invoice</a>
                            <a href="#" class="dropdown-item"><i class="icon-cross2"></i> Remove invoice</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card bg-blue-400">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">310</h3>
                    <div class="list-icons ml-auto">
                        <a class="list-icons-item" data-action="reload"></a>
                    </div>
                </div>

                <div>
                    SOLICITUDES ESTA SEMANA
                </div>
            </div>

            <div class="chart" id="today-revenue"></div>
        </div>
        <div class="card bg-teal-400">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">8035</h3>
                </div>
                <div>
                    Solicitudes atendidas
                </div>
            </div>

            <div class="container-fluid">
                <div class="chart" id="members-online"></div>
            </div>
        </div>

    </div>
</div>
<script>
function validScore() {
    const resp = confirm('¿Desea iniciar el proceso de trámite de Constancia de Ingreso?')
    if(resp){

    }
}
</script>
